{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <div id="content">
        {{ form_start(form) }}

        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        {{ form_widget(form.stripeToken) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        var stripePublicKey = '{{ stripePublicKey }}';
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}